/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	max-width: 1140px;
}

/*********************
HEADER STYLES
*********************/

.header {}

#logo {}

#site-title {
    font-size: 2.5em;
}

/*********************
NAVIGATION STYLES
*********************/

#site-navigation {
	background: #eee;
	border: 0;

	li {
		float: left;
		position: relative;

		a {
			border-bottom: 0;

			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
			&:hover, &:focus {
				background-color: #dedede;

			}
		}

		&:first-child {}
		&:last-child {}

		/* showing sub-menus */
		&:hover ul {
			top: auto;
			display: block;
		}

	} /* end .menu ul li */

} /* end .nav */

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin-top: 2.2em;
}

.widgettitle {
    border-bottom: 2px solid #444;
    margin-bottom: 0.75em;
}

.widget {
    padding: 0 10px;
    margin: 2.2em 0;

    ul {
        li {
            margin-bottom: 0.75em;

            &:first-child {}
            &:last-child {}
            a {}
        }
    }
} /* end .widget */

/*********************
FOOTER STYLES
*********************/

.footer {

} /* end .footer */

