{{!
  By Default, this theme supports comments supplied by Disqus (http://disqus.com)
  For assistance in setting up your own Disqus account and customizing it for your needs,
  please see the Disqus QuickStart Guide: http://help.disqus.com/customer/portal/articles/466182-quick-start-guide
}}

{{! Use this to force light-on-dark theme: <style>#disqus_thread { color: #000; }</style> }}
{{! Use this to force dark-on-light theme: <style>#disqus_thread { color: #FFF; }</style> }}
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: THIS CODE IS ONLY AN EXAMPLE * * */
    // var disqus_shortname = 'example'; // Required - Replace example with your forum shortname
    // var disqus_identifier = 'a unique identifier for each page where Disqus is present';
    // var disqus_title = 'a unique title for each page where Disqus is present';
    // var disqus_url = 'a unique URL for each page where Disqus is present';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
