<header class="header" role="banner">

    <div id="inner-header" class="wrap clearfix">

        {{#if @blog.logo}}
            <!-- Logo -->
            <div id="logo" class="h1">
                <a id="logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Logo"></a>
            </div>
        {{/if}}

        <!-- Title -->
        <div id="site-title" class="h1">
            <a href="{{@blog.url}}" rel="nofollow">{{@blog.title}}</a>
        </div>

        <!-- Static Menu (Dynamic menu not yet available in Ghost 0.3) -->
        {{> navigation}}

    </div> <!-- end #inner-header -->

</header> <!-- end header -->