<div id="sidebar1" class="sidebar fourcol last clearfix" role="complementary">

    <div id="sample-widget" class="widget">
        <h4 class="widgettitle">Sample Widget</h4>
        <ul>
            <li>
                Hello world!
            </li>
        </ul>
    </div>

</div>