{{!< default}}

<h1>Posts by {{author.name}}...</h1>

{{#foreach posts}}
    {{> list-post}}
{{/foreach}}


{{!! After all the posts, show the newer/older pagination links }}
{{#if pagination}}
    {{pagination}}
{{/if}}